<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*TODO: Move it to bundle*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Logo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-2 left-nav">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li id="home" class="active"><i class="fas fa-home"></i>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li id="contact"><i class="fas fa-id-card"></i>@Html.ActionLink("Contact Us", "Index", "ContactUs", new { area = "" }, null)</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>

    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - WebApp</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        $(document).ready(function () {
            var url = window.location.href;
            var IsContactUs = url.includes("ContactUs");

            if (IsContactUs) {
                $('#home').removeClass('active');
                $('#contact').addClass('active');
            } else {
                $('#contact').removeClass('active');
                $('#home').addClass('active');
            }
        });

    </script>
</body>
</html>
